@page "/Error"
@using System.Diagnostics
@using Microsoft.AspNetCore.Components

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Exception is not null)
{
    <p><strong>@Exception.Message</strong></p>
    <pre>@Exception.StackTrace</pre>
}

@if (ShowRequestId)
{
    <p><strong>Request ID:</strong> <code>@RequestId</code></p>
}

<h3>Development Mode</h3>
<p>…</p>

@code{
    [Parameter] public Exception? Exception { get; set; } 

    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}