@using Microsoft.AspNetCore.Authentication
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@using ChildrenEvaluationSystem.Web.SharedComponents.Controls
@using Microsoft.AspNetCore.Components.Authorization
@using ChildrenEvaluationSystem.Web.SharedComponents.Pages
@using IAuthenticationService = ChildrenEvaluationSystem.Application.Interfaces.IAuthenticationService
@inherits LayoutComponentBase

@inject NavigationManager Navigation
@inject IAuthenticationService AuthenticationService

<CascadingAuthenticationState>
    <MudThemeProvider Theme="MyCustomTheme" />
    <MudPopoverProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>

    <div class="page-background-class bg--app-gradient">
        <MudLayout>
            <AuthorizeView>
                <Authorized>
                    <MudAppBar Color="Color.Transparent" Elevation="0" Class="menubar">
                        <MudImage Src="images/mainLogo.png" Alt="Logo" Class="ml-16 mt-16" Height="50" Width="50"/>
                        <MudText Typo="Typo.h5" Class="ml-3 mt-16 menubar-title">System oceny przedszkolnej</MudText>
                        <MudSpacer/>
                        <MudText Class="mt-16 mr-4">Witaj, @AuthenticationService.GetUsername()</MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.Logout"
                                       aria-label="logout"
                                       OnClick="Logout"
                                       Class="mr-4 mt-16"
                                       Color="Color.Error" />
                    </MudAppBar>
                </Authorized>
                <NotAuthorized>
                    <MudAppBar Color="Color.Transparent" Elevation="0" Class="menubar">
                        <MudImage Src="images/mainLogo.png" Alt="Logo" Class="ml-16 mt-16" Height="50" Width="50"/>
                        <MudText Typo="Typo.h5" Class="ml-3 mt-16 menubar-title">System oceny przedszkolnej</MudText>
                        <MudSpacer/>
                    </MudAppBar>
                </NotAuthorized>
            </AuthorizeView>
            <MudMainContent>
                <ErrorBoundary>
                    <ChildContent>@Body</ChildContent>
                    <ErrorContent Context="ex">
                        <Error Exception="@ex" />
                    </ErrorContent>
                </ErrorBoundary>
            </MudMainContent>
        </MudLayout>
    </div>
</CascadingAuthenticationState>

@code {
    private async Task Logout()
    {
        await AuthenticationService.LogoutAsync(new Uri(Navigation.Uri).PathAndQuery);
    }
    
    
    MudTheme MyCustomTheme = new MudTheme()
    {
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = ["Nunito","system-ui","-apple-system","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif"]
            },
            H5 = new H5Typography()
            {
                FontFamily = ["Nunito","system-ui","-apple-system","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif"], 
                FontSize = "25px", 
                FontWeight = "700", 
                LetterSpacing = "0.2px"
            },
            Button = new ButtonTypography()
            {
                FontFamily = ["Nunito","system-ui","-apple-system","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif"], 
                FontSize = "17px", 
                FontWeight = "600", 
                LetterSpacing = "0.3px"
            }
        },
        PaletteLight = new PaletteLight()
        {
            AppbarBackground = "#EAE2D7",
            TextPrimary = "#4B3A2A",
            TextSecondary = "#5A4633"
        }
    };
}