@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using ChildrenEvaluationSystem.Web.SharedComponents.Controls
@using ChildrenEvaluationSystem.Web.SharedComponents.Values

<GlassButton ButtonStyle="ButtonStyles.Glass"
             OnClick="OnClick"
             Class="external-auth-button"
             Disabled="@Disabled">
    <div class="auth-button-content">
        <MudIcon Icon="@Icon" Class="auth-icon"/>
        <span>@Text</span>
    </div>
</GlassButton>

@code {
    [Parameter] public string Icon { get; set; } = null!;
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string Text { get; set; } = null!;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}